//colors
$yellow: hsl(51, 100%, 49%);
$red:hsl(7, 99%, 70%);
$darkCyan:hsl(167, 40%, 24%); /*graphic design text*/
$cyan:hsl(168, 34%, 41%);/*footer*/
$darkBlue:hsl(198, 62%, 26%);/*photographic text*/
$darkerBlue:hsl(212, 27%, 19%);
$darkerGrayishBlue:hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue:hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


//font sizes
$normalFont:1.125rem;
$md-font:1.5rem;
$bg-font:2rem;


//font weights
$normal:600;
$bold:700;
$bolder:900;